.menus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
}
.back-icon {
  padding-right: 22px;
  width: 24px;
  height: 24px;
}
.title {
  font-family: Inter-Semi-Bold;
  font-size: 20px;
  line-height: 24.2px;
  text-align: left;
}
