.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.spacer {
  flex: 1 1 auto;
}
.back-icon {
  padding-right: 22px;
  width: 24px;
  height: 24px;
}
.title {
  font-family: Inter-Semi-Bold;
  font-size: 20px;
  line-height: 24.2px;
  text-align: left;
}
button {
  border: 0;
  background-color: transparent;
}
