.restaurant-card {
  width: 100%;
  min-width: 163px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .mat-mdc-card-content {
    padding: 0;
  }
}

.card-image {
  height: 263px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 16px;
  border-radius: 5px;
  &.darken {
    filter: brightness(0.8);
  }
}

.restaurant-name {
  font-family: Inter-Meduim;
  font-size: 16px;
  line-height: 19.36px;
  text-align: left;
  color: white;
}

mat-card-content {
  display: flex;
  flex-wrap: wrap;
}
.tags {
  display: flex;
  .tag {
    font-family: Inter-Regular;
    font-size: 11px;
    line-height: 13.31px;
    text-align: left;
    border: 1px solid white;
    background-color: white;
    margin-right: 8px;
    border-radius: 5px;
    padding: 3px;
  }
}
